<div class="modal compose-post">
  <div class="top">
    <h1>Add details</h1>

    <div class="modal-icon ion-android-close pointer" ng-hide="hideX" ng-click="closeListModal()"></div>
    <div class="go-back ion-android-arrow-back" ng-if="activeList" ng-click="backToList()"></div>
  </div>

  <div class="list-search relative" ng-show="!activeList">
    <span class="search-icon ion-ios-search-strong" ng-if="!query"></span>
    <input type="text" id="search-list" placeholder="Search list..." ng-model="query" escape-search focus-id create-list/>
    <div class="clear-search ion-android-close" ng-if="query" ng-click="$parent.query = ''"></div>
  </div>

  <div class="lists" ng-show="!activeList">
    <div ng-repeat="list in modalLists | filter:query">
      <div class="list" ng-click="activateList(list)">
        <span class="locked-info ion-ios-locked-outline"
              ng-if="list.isPrivate"
              ng-click="toggleListLock(list)"></span>
        {{list.title}}
      </div>
    </div>
  </div>

  <div class="add-list" ng-show="!activeList">
    <div class="flexy">
      <input type="text" id="create-list-name" placeholder="Type list name..." ng-model="newList.title" create-list/>
      <button class="web" ng-click="addList(newList)">+ Create new list</button>
      <button class="mobile" ng-click="addList(newList)">+ Add list</button>
    </div>
    <div class="align">
      <p> Make list private </p>
      <div class="toggle-button"
           ng-class="{'active': newList.isPrivate}"
           ng-click="newList.isPrivate = !newList.isPrivate">
        <div class="round"></div>
      </div>
    </div>
  </div>

  <div class="body" ng-show="activeList">
    <input type="text" placeholder="Name" ng-model="newPost.title" />
    <input type="text" placeholder="Link" ng-model="newPost.link" />
    <textarea placeholder="Thoughts (markdown supported)..." ng-model="newPost.text"></textarea>

    <button class="cta" ng-click="addPost(newPost)">Post it!</button>
  </div>
</div>
