    <script type="text/javascript" src="/app.js"></script>
    <!-- CONTROLLERS -->
    <script type="text/javascript" src="/controllers/HomeController.js"></script>
    <script type="text/javascript" src="/controllers/GetstartedController.js"></script>
    <script type="text/javascript" src="/controllers/MenuController.js"></script>
    <script type="text/javascript" src="/controllers/EditProductController.js"></script>
    <script type="text/javascript" src="/controllers/AdminProductsController.js"></script>

    <!-- SERVICES -->
    <script type="text/javascript" src="/services/apiService.js"></script>
    <script type="text/javascript" src="/services/imageService.js"></script>
    <script type="text/javascript" src="/services/validator.js"></script>

    <!-- DIRECTIVES -->
    <script type="text/javascript" src="/directives/helpers.js"></script>
    <script type="text/javascript" src="/directives/fileread.js"></script>
    <script type="text/javascript" src="/directives/imageCloseup.js"></script>

  </body>
</html>
