    <script type="text/javascript" src="/app.js"></script>
    <!-- CONTROLLERS -->
    <script type="text/javascript" src="/controllers/HomeController.js"></script>
    <script type="text/javascript" src="/controllers/GetstartedController.js"></script>

    <!-- SERVICES -->
    <script type="text/javascript" src="/services/apiService.js"></script>
  </body>
</html>
