<header ng-controller="HeaderController" ng-init="init()" should-open-post>

  <div class="mobile-header">
    <div class="icon-mobile hamburger ion-navicon" open-side-menu></div>
    <div class="icon-mobile mobile-search ion-ios-search" open-header-search></div>
  </div>

  <form class="search" id="header-search" autocomplete="off">
    <!-- ng-submit="search(query)" -->
    <input ng-model="query" placeholder="Search users, lists, or posts..."
          id="header-search-input" escape-search arrow-navigate submit-search/>
    <div class="icon-close ion-android-close" ng-click="query = ''" ng-show="query"></div>
    <button><span class="ion-ios-search-strong"></span></button>

    <div class="suggestions" ng-if="suggestions && query" ng-cloak>
      <div class="suggestion" ng-repeat="item in suggestions"
          ng-click="activateSuggestion(item)" id="suggestion-{{$index}}">
        <img ng-src="{{item.image}}" alt="item.text" ng-if="item.image" />
        <span class="icon ion-ios-folder-outline" ng-if="item.type === 'lists'"></span>
        <span class="icon ion-ios-list-outline" ng-if="item.type === 'posts'"></span>
        <div class="text">
          {{item.text}}
        </div>
      </div>
    </div>
  </form>

  <div class="mobile-close">
    <a close-header-search>close</a>
  </div>

  <% if (user && user._id) { %>
    <div class="header-wrapper">
      <div id="notification-globe" class="hn icon ion-android-globe" ng-click="toggleNotifications()" loose-focus>
        <div class="hn notification-count animated fadeIn"
            ng-show="activeNotifications" ng-cloak>{{activeNotifications}}</div>

        <div class="hn notifications" ng-if="notificationsOpened" ng-cloak>
          <div class="hn arrow-up"></div>
          <div class="hn notification" ng-class="{ 'unread': !notification.viewed }"
              ng-repeat="notification in notifications" ng-click="notificationAction(notification); $event.stopPropagation();">
            <img class="hn" ng-src="{{notification.created_by.image}}" />
            <p class="hn">{{notification.message}} {{notification.created_date | moment}}</p>
          </div>

          <div class="hn notification" ng-if="notificationsOpened && !notifications.length">
            <p class="hn">No new notifications!</p>
          </div>
        </div>
      </div>
      <!-- <div class="icon ion-ios-bell" ng-click="openNotifications()"></div> -->
      <a class="auth" href="/logout">Logout</a>
    </div>
  <% } else { %>
    <a class="auth" href="/auth/facebook">Sign Up / Login</a>
  <% } %>
</header>
