<section class="modal-container animated-fast fadeIn" ng-show="isListModalOpen" ng-controller="ComposeModalController" ng-cloak>
  <div class="modal-backdrop" ng-click="closeListModal()"></div>

  <% include ./compose.ejs %>
</section>
