<script type="text/javascript">
  var windowWidth = $(window).width();
</script>

<section class="menu" ng-controller="MenuController" ng-init="init()" id="side-menu">
  <div class="top-header">
    <h2>The Pelican Blog</h2>
    <div class="icon-mobile hamburger ion-ios-close-empty" close-side-menu></div>
  </div>
  <div class="body">
    <% if (user) { %>
    <div class="user" send-to="/user/<%= user._id %>">
      <% if (user.image) { %>
        <img src="<%= user.image %>" alt="<%= user.displayName %>" />
      <% } %>
      <%= user.givenName + "'s Pelican" %>
    </div>

    <div class="relative">
      <input type="text" ng-model="query" placeholder="Search your data..." escape-search/>
      <div class="icon ion-ios-search-strong" ng-show="!query"></div>
      <div class="icon ion-android-close" ng-click="query = ''" ng-show="query" ng-cloak></div>
    </div>
    <% } else { %>
      <div class="auth">
        <button type="button" send-to="/auth/facebook">Sign Up / Login</button>
      </div>
    <% } %>

    <% if (user) { %>
    <div class="list menu-list alternative" identify-location="/recent">
      <div class="p-wrapper" send-to="/recent">
        <span class="icon-recent ion-ios-clock-outline hashtag menu-icon"></span>
        <p class="p-title">my recent</p>
      </div>
    </div>
    <% } %>

    <div class="list menu-list alternative" identify-location="/discover">
      <div class="p-wrapper" send-to="/discover">
        <span class="icon-discover ion-ios-navigate-outline hashtag menu-icon"></span>
        <p class="p-title">discover</p>
      </div>
    </div>

    <div class="list menu-list alternative trending" identify-location="/trending">
      <div class="p-wrapper" send-to="/trending">
        <span class="icon-trending ion-ios-pulse hashtag menu-icon"></span>
        <p class="p-title">trending</p>
      </div>
    </div>

    <div class="list menu-list"
         ng-click="makeActive(list)"
         id="menu-list-{{list._id}}"
         identify-location="/list/{{list._id}}"
         ng-repeat="list in lists | menuSearch:query"
         menu-helper ng-cloak>
      <div class="p-wrapper">
        <p class="hashtag">#</p>
        <p class="p-title" ng-bind-html="sanitizeHtml(list.title)"></p>
        <span class="icon ion-ios-locked-outline" ng-if="list.isPrivate"></span>
      </div>

      <hr ng-show="query || list.displayPosts" identify-location="/list/{{list._id}}"/>

      <div class="posts" ng-show="query || list.displayPosts">
        <div class="post animated-fast fadeInLeft"
            ng-repeat="post in list.posts" search-post close-side-menu
            ng-click="openPostMenu(post, $index, $parent.$index)">
          <p class="post-title" ng-bind-html="sanitizeHtml(post.title)"></p>
        </div>
      </div>
    </div>

    <% if (user && user._id) { %>
    <div class="list menu-list new-list"
        ng-click="openComposeModal()" close-side-menu
        ng-class="{ 'no-border': !lists }" ng-cloak>
      <div class="p-wrapper">
        <span class="icon-new hashtag ion-ios-plus-outline menu-icon"></span>
        <p>
          add new list
        </p>
      </div>
    </div>
    <% } %>

  </div>

  <% if (user && user._id) { %>
    <button class="log-out" send-to="/logout">Logout</button>
  <% }%>

  <% if (owner) { %>
    <% include ./menu-small.ejs %>
  <% } %>
</section>
