<section class="menu" ng-controller="MenuController">
  <div class="title">
    <h3>Shopify</h3>
  </div>

  <div class="pill" ui-sref="products"
      ng-click="activateTab('products')"
      ng-class="{'active': activeTab == 'products'}">
    <span class="icon ion-ios-pricetags"></span><span>Products</span>
  </div>

  <div class="pill" ui-sref="orders"
      ng-click="activateTab('orders')"
      ng-class="{'active': activeTab == 'orders'}">
    <span class="icon ion-card"></span><span>Orders</span>
  </div>
</section>
