<section class="onboard modal-container animated fadeIn" ng-init="init()" ng-controller="OnboardController"
  ng-class="{'animated-fast fadeOut': closed}" id="new-user-onboard">
  <div class="modal-backdrop"></div>

  <button class="left navigate" ng-click="previous()"
      ng-class="{'hide': active < 2}" ng-cloak>
    <span class="icon ion-ios-arrow-left"></span>
  </button>

  <div class="modal" ng-cloak>
    <!-- MODAL ONE -->
    <div class="close ion-ios-close-empty" ng-show="activatedClose" ng-click="close()"></div>
    <div class="wrapper" ng-show="active === 1">
      <div class="top">
        <img src="/css/onboard1.png" alt="Download the pelican chrome extension." />
      </div>

      <div class="bottom" ng-class="{'first': active === 1}">
        <h2>
          Save your fav' online content
          <br>
          and organize it into lists
        </h2>
        <button class="mobile-navigate" ng-click="next()">Next</button>
      </div>
    </div>

    <!-- MODAL TWO -->
    <div class="wrapper" ng-show="active === 2">
      <div class="top">
        <img src="/css/onboard2.png" alt="Download the pelican chrome extension." />
      </div>

      <div class="bottom" ng-class="{'second': active === 2}">
        <h2>
          Make a private list
          <br>
          to hide your links from the public
        </h2>
        <button class="mobile-navigate" ng-click="next()">Next</button>
      </div>
    </div>

    <!-- MODAL THREE -->
    <div class="wrapper" ng-show="active === 3">
      <div class="top">
        <img src="/css/onboard3.png" alt="Download the pelican chrome extension." />
      </div>

      <div class="bottom">
        <h2>
          Download our Chrome extension
          <br>
          and bookmark on the fly!
        </h2>
        <button class="mobile-navigate" ng-click="close()">Get Started</button>

        <button class="web animated fadeIn" new-tab="true" ng-click="openBookMarkLink()">
            Download Now
        </button>

        <a class="web" ng-click="close()">skip for now</a>
      </div>
    </div>

    <!-- END MODALS -->

    <div class="map">
      <div class="circle" ng-click="goTo(1)"
          ng-class="{'active': active === 1}"></div>
      <div class="circle" ng-click="goTo(2)"
          ng-class="{'active': active === 2}"></div>
      <div class="circle" ng-click="goTo(3)"
          ng-class="{'active': active === 3}"></div>
    </div>
  </div>

  <button class="right navigate" ng-click="next()"
      ng-class="{'hide': active > 2}" ng-cloak>
    <span class="icon ion-ios-arrow-right"></span>
  </button>
</section>
