<section class="modal-container side-modal" ng-show="activePost" ng-cloak ng-controller="PostModalController">
  <div class="modal-backdrop animated-fast fadeIn" ng-click="closePostModal()" reset-location></div>

  <div class="modal animated-fast fadeInRight">
    <div class="modal-body">
      <div class="modal-icon ion-android-close" ng-click="closePostModal()" reset-location></div>

      <div ng-if="!editingPost">
        <div class="top-wrapper">
          <div class="post-img" ng-if="activePost.img">
            <img ng-src="{{activePost.img}}" alt="{{activePost.title}}" />
          </div>

          <div ng-class="{'with-img': activePost.img}">
            <h2>{{activePost.title}}</h2>
          </div>
        </div>

        <a class="post-link" ng-href="{{activePost.link}}" ng-if="activePost.link" target="_blank">{{activePost.link}}</a>
        <div class="text-container" ng-if="activePost.text">
          <div class="text markdown" ng-bind-html="activePost.text | markdown"></div>
        </div>
      </div>

      <div ng-if="editingPost">
        <div class="top-wrapper">
          <div class="post-img" ng-if="editablePost.img">
            <img ng-src="{{editablePost.img}}" alt="{{activePost.title}}" />
            <div class="delete-img ion-android-delete" ng-click="removeImg()"></div>
          </div>

          <div ng-class="{'with-img': activePost.img}">
            <input id="post-title-edit" class="title-edit" type="text" ng-model="editablePost.title" />
          </div>
        </div>


        <input class="post-link link-edit" type="text" ng-model="editablePost.link" placeholder="Post link" />
        <textarea class="post-text" ng-model="editablePost.text"></textarea>

        <div class="edit-options">
          <button ng-click="updatePost(editablePost)" class="cta">Update post</button>
          <a ng-click="turnOffEditPost()">Cancel edit</a>
        </div>
      </div>
    </div>

    <div class="modal-footer" post-actions>
      <div class="actions">
        <div class="contain">
          <div class="like-count">
            {{activePost.likes && activePost.likes.length}}
            <div class="arrow"></div>
          </div>
          <div class="action" ng-click="likePost(activePost)" ng-class="{'liked-post': likedPost}">
            <div class="icon ion-android-happy"></div>
            Like
          </div>
          <div class="action" ng-click="repin(activePost)" ng-show="user">
            <div class="icon ion-arrow-return-left"></div>
            Repost
          </div>
        </div>

        <div class="contain right" ng-if="user && ((user._id === activePost.owner) || (user._id === activePost.owner._id))">
          <div class="action first" ng-click="turnOnEditPost($index)">
            <div class="icon ion-android-create"></div>
            Edit
          </div>
          <div class="action" ng-click="deletePost(activePost)">
            <div class="icon ion-trash-b"></div>
            Delete
          </div>
        </div>
      </div>

      <div class="comments" ng-if="comments && comments.length">
        <div class="comment" ng-repeat="comment in comments">
          <img class="c-img" ng-src="{{comment.creator.image}}" alt="{{comment.creator.displayName}}" />
          <div class="content">
            <p class="title">{{comment.creator.displayName}}</p>
            <p class="time">{{comment.created_date | moment}}</p>

            <p>{{comment.message}}</p>
          </div>
        </div>
      </div>

      <hr class="hr" ng-if="comments && comments.length" />

      <div class="user-comment" ng-show="$parent.user" comment-helper>
        <img class="c-img" ng-src="{{$parent.user.image}}" alt="{{$parent.user.displayName}}" />
        <div class="submit-wrapper">
          <textarea placeholder="Write a comment..." rows="2"
              ng-model="newComment" adjust-height submit-enter>
          </textarea>

          <div class="icon ion-ios-paperplane-outline" ng-click="sendComment(newComment)"></div>
        </div>
      </div>
    </div>
  </div>

</section>
