* {
  box-sizing: border-box;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.input {
  padding: @form-padding;
  border: 1px solid @border-gray;
  border-radius: @br;
  margin-bottom: 10px;

  &:focus {
    outline: none;
    border: 1px solid @darker-gray;
  }
}

input, textarea {
  .input;
}

label {
  span {
    text-transform: uppercase;
    font-size: 13px;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }

  input {
    margin-bottom: 30px;
  }
}

a {
  color: @blue;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;

  &:hover {
    text-decoration: underline;
  }
}

.admin-wrapper {
  margin-left: @menu-width;
}

.hidden {
  overflow: hidden;
}
