<% include ./partials/head.ejs %>
  <body class="not-found">
    <% include ./partials/tag-manager.ejs %>
    <div class="navigate">
      <a href="/">The Pelican</a>
    </div>

    <div class="flex">
      <h1>
        OMG we got a <strong>404</strong>
          <br>
        — we literally can't even —
      </h1>

      <iframe width="560" height="315"
          src="https://www.youtube.com/embed/8ruJBKFrRCk?end=83&autoplay=0&showinfo=0&controls=0&rel=0"
          frameborder="0" allowfullscreen>
      </iframe>

      <button send-to="/">Let's go back</button>
    </div>
  </body>
<% include ./partials/footer.ejs %>
