<% include ./partials/head.ejs %>
<div class="admin-wrapper">

  <% include ./partials/menu.ejs %>

  <section class="admin-container">
    <ui-view></ui-view>
  </section>

</div>
<% include ./partials/footer.ejs %>
