<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Pelican Blog</title>

    <link rel="stylesheet" type="text/css" href="/css/home.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" media="screen" title="no title" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <% include ./partials/analytics.ejs %>
  </head>
  <body>
    <% include ./partials/tag-manager.ejs %>
    <div class="content">
      <div class="nav">
        <div class="logo">
          <p>pelican</p>
        </div>
        <div class="login">
          <a href="/auth/facebook"><button type="button" class="login-btn">Login</button></a>
        </div>
      </div>
    </div>
    <div class="content">
      <h1>The best bookmarking tool <br>on planet earth.</h1>
      <div class="main">
        <div class="left">
          <div class="bullets">
            <div class="bullet" id="b1">
              <div class="circle">
                <span class="icon ion-ios-bookmarks-outline"></span>
              </div>
              <div class="text">
                <p>
                  Save and find links and thoughts
                </p>
              </div>
            </div>
            <div class="bullet" id="b2">
              <div class="circle">
                <span class="icon ion-ios-paper-outline"></span>
              </div>
              <div class="text">
                <p>
                  Organize links into lists (buckets)
                </p>
              </div>
            </div>
            <div class="bullet" id="b3">
              <div class="circle">
                <span class="icon ion-ios-upload-outline"></span>
              </div>
              <div class="text">
                <p>
                  Share links with friends
                </p>
              </div>
            </div>
          </div>
          <div class="signUp">
            <div class="button-border">
              <a href="/auth/facebook"><button type="button" class="sign-up-btn" name="button">Sign up with Facebook</button></a>
            </div>
          </div>
        </div>

<!-- ////////////////////////////////////////////////////////////////////////////////////////// -->
        <div class="right">
          <img src="/css/home-main.png" alt="" />
        </div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////// -->

      </div>
    </div>
  </body>
</html>
