<% include ./partials/head.ejs %>
<section class="home">
  <div class="top-call">
    <h1>An ecommerce platform made for you</h1>
    <p class="enlarged-text">Whether you sell online, on social media, in store, or out of the trunk of your car, Shopify has you covered.</p>

    <form class="inline">
      <input type="text" placeholder="Enter your email address">
      <button class="ca">Get started</button>
    </form>
  </div>


</section>
<% include ./partials/footer.ejs %>
