<% include ./partials/head.ejs %>
<header>
  <div class="header-wrapper">
    <div class="logo">
      Shopify
    </div>

    <div class="auth">
      <a href="#">Log in</a>
    </div>
  </div>
</header>
<section class="home">
  <div class="sub-hero">
    <h1>An ecommerce platform made for you</h1>
    <p class="enlarged-text">Whether you sell online, on social media, in store, or out of the trunk of your car, Shopify has you covered.</p>

    <form class="inline">
      <input type="text" placeholder="Enter your email address">
      <button class="ca">Get started</button>
    </form>
  </div>

  <div class="hero">
    <div class="hero-content">
      <img src="./css/app.png" />
      <h1>A plug and play solution <br> to your e-commerce mobile app</h1>
    </div>
  </div>

  <div class="sub-hero">
    <h1>Get straight to growing your business</h1>
    <p class="enlarged-text">Shopify handles everything from marketing and payments, to secure checkout and shipping -- focus on the things you love!</p>

    <form class="inline">
      <input type="text" placeholder="Enter your email address">
      <button class="ca">Get started</button>
    </form>
  </div>


</section>
<% include ./partials/footer.ejs %>
