<% include ./partials/head.ejs %>
<header>
  <div class="header-wrapper">
    <div class="logo">
      Shopify
    </div>

    <div class="auth">
      <a href="#">Log in</a>
    </div>
  </div>
</header>
<section class="home" ng-controller="HomeController">
  <div class="sub-hero">
    <h1>An ecommerce platform made for you</h1>
    <p class="enlarged-text">Whether you sell online, on social media, in store, or out of the trunk of your car, Shopify has you covered.</p>

    <form class="inline" ng-submit="emailSignup(email)">
      <input type="text" placeholder="Enter your email address" ng-model="email">
      <button class="ca">Get started</button>
    </form>
  </div>

  <div class="hero">
    <div class="hero-content">
      <img src="./css/app.png" />
      <h1>A plug and play solution <br> to your e-commerce mobile app</h1>
    </div>
  </div>

  <div class="sub-hero">
    <h1>Get straight to growing your business</h1>
    <p class="enlarged-text">Shopify handles everything from marketing and payments, to secure checkout and shipping -- focus on the things you love!</p>

    <form class="inline" ng-submit="emailSignup(email)">
      <input type="text" placeholder="Enter your email address" ng-model="email">
      <button class="ca">Get started</button>
    </form>
  </div>

  <section class="signup-modal animated-fast slideInUp" ng-show="signupModalOpened" ng-cloak>
    <div class="close ion-ios-close-empty" ng-click="signupModalOpened = false"></div>
    <div class="container">
      <h1>Start making your app</h1>
      <form action="/signup" method="post">
        <input type="text" placeholder="Email" name="email" ng-model="user.email" id="userEmail">
        <input type="password" placeholder="Password" name="password" ng-model="user.password" id="userPassword">
        <input type="text" placeholder="Store Name" name="storeName" ng-model="user.storeName" id="userStoreName">
        <button class="ca">Create your app</button>
      </form>
    </div>
  </section>
</section>
<% include ./partials/footer.ejs %>
