section.get-started {
  background-color: #ebeef0;
  width: 100%;
  min-height: 100vh;

  .container {
    background-color: #fff;
    border-radius: @br;
    width: 800px;
    margin: 40px auto;
    padding: 20px 40px;

    h2 {
      text-align: center;
      margin: 20px 0 40px;
    }
  }

  input {
    width: 100%;
  }

  .two-col {
    display: flex;
    justify-content: space-between;

    label {
      width: 48%;
    }
  }
}
