section.home {
  @max-width: 600px;

  .sub-hero {
    text-align: center;
    max-width: @max-width;
    padding: 60px 0 80px;
    margin: auto;

    p {
      margin: 20px;
    }
  }

  .hero {
    background: url(./shop.jpg) 50% 50% no-repeat scroll;
    background-size: cover;
    width: 100%;
    height: 600px;
    text-align: center;
  }

  .hero-content {
    margin: auto;
    height: 100%;
    max-width: 1000px;
    display: flex;
    // flex-direction: column;
    justify-content: space-around;;
    align-items: center;

    h1 {
      background-color: @almost-white;
      padding: 20px;
    }

    img {
      max-height: 80%;
    }
  }

  .enlarged-text {
    font-size: 1.15em;
    line-height: 1.7;
  }

  .inline {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    button {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    input {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-right: none;
      &:focus {
        border-right: none;
      }
    }
  }
}

@media only screen and (max-width: @mobile) {
  section.home {
    .hero-content {
      flex-direction: column;

      img {
        height: 300px;
      }
    }

    .hero {
      background: none;
      height: inherit;
    }

    .sub-hero {
      padding: 40px 0 60px;
    }

    button, input {
      padding: 10px;
    }

    h1 {
      font-size: 1.65em;
    }
  }
}
