section.home {
  @max-width: 600px;

  .sub-hero {
    text-align: center;
    max-width: @max-width;
    margin: 80px auto;

    p {
      margin: 20px;
    }
  }

  .hero {
    background: url(./shop.jpg) 50% 50% no-repeat scroll;
    background-size: cover;
    width: 100%;
    min-height: 600px;
    height: 100vh;
    text-align: center;
  }

  .hero-content {
    margin: auto;
    height: 100%;
    max-width: 1000px;
    display: flex;
    // flex-direction: column;
    justify-content: space-around;;
    align-items: center;

    h1 {
      background-color: @almost-white;
      padding: 20px;
    }

    img {
      max-height: 80%;
    }
  }

  .enlarged-text {
    font-size: 1.15em;
    line-height: 1.7;
  }

  .inline {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    button {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    input {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-right: none;
      &:focus {
        border-right: none;
      }
    }
  }
}
