header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  overflow: auto;

  .header-wrapper {
    max-width: 1200px;
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }

  &.admin {
    h1 {
      margin: 0;
    }

    .icon {
      color: @pale-blue;
      margin-right: 10px;
    }
  }

  button {
    padding: 7px 14px;
    margin: 0;
  }
}
