<div class="section no-padding edit-variants">
  <div class="top-container">
    <div class="with-link">
      <h4>Variants</h4>
      <a ng-click="toggleVariants()">{{variantText}}</a>
    </div>

    <p class="description">Add variants if this product comes in multiple versions, like different sizes or colors.</p>
  </div>
  <div class="bottom-container" ng-if="variantsOpened">
  <!-- <div class="bottom-container"> -->
    <div class="top">
      <p class="option-name">Option name</p>
      <p class="option-values">Option values (separate options with comma)</p>
      <div class="dead-div"></div>
    </div>

    <div class="options" ng-repeat="option in product.options track by $index">
      <input class="option-name" placeholder="Example: size" type="text" ng-model="option.name" />
      <div class="input-ghost option-values">
        <div class="pills" ng-if="option.values.length">
          <div class="pill" ng-repeat="value in option.values">
            <p>{{value}}</p>
            <div class="delete-pill ion-ios-close-empty" ng-click="removePill($index, $parent.$index)"></div>
          </div>
        </div>
        <input placeholder="Separate options with a comma" type="text"
            ng-model="pillInput" ng-change="pillInputChange(pillInput, $index)" input-pill option-index="{{$index}}"/>
      </div>

      <div class="trash" ng-click="removeOption($index, pillInput)">
        <span class="ion-trash-a"></span>
      </div>
    </div>

    <button class="ca-subtle small" ng-click="addOption()" ng-if="product.options && product.options.length < 3">
      Add another option
    </button>

    <div class="variants">
      <p>Modify the variants to be created:</p>

      <table>
        <thead>
          <tr>
            <th class="one"></th>
            <th>Quantity</th>
            <th>SKU</th>
            <th>Barcode</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </div>
  </div>
</div>
