<header class="admin">
  <div class="header-wrapper">
    <div class="left sub-header">
      <span class="icon ion-ios-pricetags"></span><span>Products</span>
    </div>
    <div class="right">
      <button class="ca-two" ui-sref="new-products">Add product</button>
    </div>
  </div>
</header>


<section class="admin-empty-state">
  <div class="wrapper">
    <h1>Add your products</h1>
    <img src="https://s3.amazonaws.com/plinc-ecommerce-app/buy.png" class="img-placeholder">
    <button class="ca-two" ui-sref="new-products">Add your first product</button>
  </div>
</section>
